html,
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-300;
}

html.dark {
  @apply bg-gray-900;
}

input {
  @apply dark:focus:ring-offset-gray-900;
}

.form-input {
  @apply border border-gray-300 placeholder-gray-300 dark:border-gray-600 dark:placeholder-gray-500 outline-none ring-1 ring-gray-300 dark:ring-gray-800 focus:border-swatch1 focus:ring-swatch3;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-mask: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  mask: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  @apply w-4 h-4 bg-swatch1 dark:bg-swatch2;
}

dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

p,
h1,
h2,
h3 {
  @apply m-0;
}

button {
  @apply bg-transparent;
}

.border-def {
  @apply border-gray-300 dark:border-gray-700;
}

.flex-center {
  @apply flex items-center justify-center;
}

.skeleton {
  --text-opacity: 0;
  background-image: linear-gradient(
    100deg,
    #edf2f7 0%,
    #f4f7fa 20%,
    #edf2f7 40%
  );
  background-position: 50%;
  background-size: 200%;
  animation: skeleton 1.25s infinite linear;
  @apply rounded-md;
}

.dark .skeleton {
  background-image: linear-gradient(
    100deg,
    #4b5563 0%,
    #6b7280 20%,
    #4b5563 40%
  );
}

@keyframes skeleton {
  0% {
    background-position: 50%;
  }
  50%,
  100% {
    background-position: -100%;
  }
}
